/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid coral;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.main-div{
  padding-left: 20%;
}

.container-div{
  padding-left: 5%;
}

.product-table td{
    padding: 5px;
}

.product-table-background td{
  background: azure;
}